* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #515050;
   
    
    
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}

header{
   
    display: flex;
    justify-content: center;
    
}

h1{
    margin-top: 2vmin;
    color: #162064;
    font-size: 3vmin;
   
    
  
}
main{
    flex-grow: 1;
    margin-top: 2vmin;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.game_header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;
	display: flex;
	justify-content: end;
}
.game_score {
	padding: 2vmin 2vmin;
	min-width: 35vmin;
    width: 100%;
	background: #1a1918;
	border-radius: 1vmin;
	display: flex;
	justify-content: center;
	align-items: center;
}
.score_count{
	font-size: 3vmin;
	color:#29389b;
	font-weight: bold;
    background-color: transparent;
}

.canvas_wrapper {
	background-color: #221f21;
	border-radius: 0.2rem;
	border: 10px solid #221f21;
	box-shadow: 0px 0px 40px 10px #221f21;
    min-height: 50vmin;
    min-width: 35vmin;
}

#game_canvas {
	display: block;
	border-radius: 0.3rem;	
    background-color: #6d5f49;
    min-height: 50vmin;
    min-width: 35vmin;
}

.best_score {
	padding-top: 2vmin;
	padding-bottom: 2vmin;
    margin-top: 1vmin;
	min-width: 35vmin;
    width: 100%;
	background: #1a1918;
	border-radius: 1vmin;
	display: flex;
	justify-content: center;
	align-items: center;   
}

.best_score p{
    font-size: 3vmin;
	color:#29389b;
	font-weight: bold;
    background-color: transparent;
}

.last_10{
	font-size: 3vmin;
	color:#29389b;
	font-weight: bold;
    background-color: transparent;
}


.divider{
    height: 0.3rem;
    width: 100%;
    background-color: #162064;
} 

.footer_wrapper{
    
    padding: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year{
    font-size: 1.5rem;
    color: #162064;
}