* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #515050;
    
    
}
body{
   height: 100vmin;
}

header{
    max-height: 10vmin;
    display: flex;
    justify-content: center;
}

h1{
    margin-top: 1rem;
    color: #162064;
    
  
}
main{
    max-height: 80vmin;
    margin-top: 5vmin;
    margin-bottom: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}



.game_header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;
	display: flex;
	justify-content: end;
}
.game_score {
	padding: 10px 15px;
	min-width: 160px;
    width: 100%;
	height: 50px;
	background: #1a1918;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.score_count{
	font-size: 3vmin;
	color:#29389b;
	font-weight: bold;
    background-color: transparent;
}

.canvas_wrapper {
	background-color: #221f21;
	border-radius: 0.2rem;
	border: 10px solid #221f21;
	box-shadow: 0px 0px 40px 10px #221f21;

	/* background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23525053'/%3E%3C/g%3E%3C/svg%3E%0A"); */
}

#game_canvas {
	display: block;
	border-radius: 0.3rem;	
    background-color: #6d5f49;
}

.best_score {
	padding: 10px 15px;
	min-width: 160px;
    width: 100%;
	height: 50px;
	background: #1a1918;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;   
}

.best_score p{
    font-size: 3vmin;
	color:#29389b;
	font-weight: bold;
    background-color: transparent;
}

.last_10{
	font-size: 3vmin;
	color:#29389b;
	font-weight: bold;
    background-color: transparent;
}



.divider{
    height: 0.3rem;
    width: 100%;
    background-color: #162064;
} 

  footer {
    display: flex;
    flex-direction: column;
}
.footer_wrapper{
    margin-top: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year{
    font-size: 1.5rem;
    color: #162064;
}