@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}

.container {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

/* Стили для подложки */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

h1 {
  color: #FFF;
  font-family: "Forum", serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-right: 455px;
}

h2 {
  color: #0C0C0E;
  font-family: "Forum", serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 19px;
}

h3 {
  color: #BB945F;
  font-family: "Forum", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.header_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background: #0C0C0E;
  margin: 0 auto;
  padding: 20px;
}

ul.menu {
  display: flex;
  list-style-type: none;
  margin: 0 40px 0 0;
}

.menu li {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  margin-right: 30px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #FFF;
}

.menu li a:hover {
  color: #BB945F;
  text-decoration: underline;
}

.burger-menu {
  display: none;
}

.profile {
  position: relative;
}

.profile img {
  vertical-align: middle;
  cursor: pointer;
}

.profile_register {
  display: none;
  width: 80px;
  height: 115px;
  background: #FFF;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 0;
}

.profile_register .Profile {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-top: 5px;
}

.profile_register .divider2 {
  width: 40px;
  height: 1px;
  background: #BB945F;
  margin: 5px auto;
}

.profile_register a {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.profile_register a:hover {
  color: #BB945F;
}

.profile_register.show {
  display: block;
}

.profile_register.Login {
  display: none;
}

/* Остальные стили для улучшения внешнего вида формы */
.Welcome {
  display: flex;
  height: 600px;
  background: url("../img/Welcome.png") center center/cover no-repeat;
}

.welcome_lib {
  background: #0C0C0E;
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  color: #FFF;
  text-align: center;
  font-family: "Forum", serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 3px;
}

.divider {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background: #0C0C0E;
  margin: 17px auto 0;
}

.about_text {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 40px;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 52px;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.page-btn:nth-child(4),
.page-btn:nth-child(5) {
  display: none;
}

.page-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000;
  transition: background-color 0.5s ease;
}

.page-btn:hover::after {
  background-color: #BB945F;
}

.arrow2 img,
.arrow1 img {
  display: none;
}

.favorites_text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0 0 20px;
}

.radio_btn {
  margin-top: 35px;
}

.season_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 58px;
}

.season_block.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.season_block.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  display: none;
}

.book_review {
  position: relative;
  width: 550px;
  height: 555px;
  flex-shrink: 0;
  border: 1px solid #000;
  background: #FFF;
  margin: 39px 60px 0 20px;
}

.image-item {
  position: absolute;
  top: 254px;
  left: 390px;
}

.Staff {
  color: #000;
  font-family: "Forum", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 2px;
  margin: 14px 0 0 20px;
}

.book_divider {
  width: 60px;
  height: 1px;
  background: #BB945F;
  margin-left: 20px;
}

.book_name {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px 0 0 20px;
}

.author {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin-left: 20px;
}

.book_text {
  width: 355px;
  margin-top: 19px;
  margin-left: 20px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee_text {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 40px 20px;
}

.price_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 61px 20px;
}

.item_price {
  display: flex;
  align-items: center;
  margin-top: 39px;
}

.price_text {
  width: 199px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.price_divider {
  width: 100px;
  height: 1px;
  background: #BB945F;
  margin: 0 59px;
}

.price_amount {
  color: #000;
  font-family: "Forum", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.desserts_price h3 {
  text-align: right;
}

.desserts_price .price_text {
  width: 300px;
  text-align: right;
}

.contacts_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px 56px 20px;
}

.contacts_text h5 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.tel {
  color: #000;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
}

.senior_staff {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin-top: 40px;
}

.mail {
  color: #000;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
}

.contacts_text a {
  color: black;
  text-decoration: none;
}

.contacts_text a:hover {
  color: #BB945F;
  text-decoration: none;
  font-weight: bold;
}

.mail a {
  font-weight: bold;
}

.cards_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px 41px 20px;
}

.find_text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
}

.get_text {
  color: #000;
  text-align: right;
  font-family: "Forum", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.card_form_wrapper {
  margin-top: 29px;
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  background: #FFF;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.card_form {
  padding: 20px 20px 0;
  margin-top: 18px;
  width: 560px;
  height: 272px;
  background: #BB945F;
}

.BPL {
  color: #000;
  font-family: "Forum", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.get_text {
  color: #000;
  text-align: center;
  font-family: "Forum", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: end;
}

.get_card p {
  width: 456px;
  margin-top: 35px;
  color: #000;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
}

.get_card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.get_card .Sign_Up.Log_in button {
  margin: 35px 0 0 17px;
}

footer {
  background: #0C0C0E;
  padding: 20px;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
}

footer .adress {
  width: 229px;
  flex-shrink: 0;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

ul.social_media {
  display: flex;
  width: 102px;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 18px;
}

.days {
  width: 149px;
  color: #FFF;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}

footer .divider {
  width: 100%;
  height: 1px;
  background: #FFF;
  margin-top: 20px;
}

.rss_wrapper {
  display: flex;
  margin: 43px 0 23px 0;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.rss {
  margin: 0 333px 0 494px;
}

footer a {
  color: #FFF;
  text-decoration: none;
}

footer a:hover {
  color: #BB945F;
}

@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }
  .container {
    max-width: 100%;
  }
  ul.menu {
    margin-right: 0;
  }
  h1 {
    margin-right: 0px;
  }
  .header_wrapper {
    justify-content: space-between;
  }
  .about_wrapper {
    flex-wrap: wrap;
  }
  .about_wrapper img {
    margin: 0 auto 30px;
  }
  /* .price_text{
      width: 100%;
  } */
  .desserts_price .price_text {
    width: 100%;
    text-align: right;
  }
  .price_text {
    width: 100%;
  }
  .cards_wrapper {
    flex-wrap: wrap;
  }
  .contacts_wrapper {
    flex-wrap: wrap;
  }
  .rss_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .rss {
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 1024px) {
  .menu li {
    font-size: 17px;
    margin-right: 13px;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  h1 {
    font-size: 24px;
  }
  .radio_btn label {
    margin-right: 55px;
  }
  .price_divider {
    margin: 0 40px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    width: 100%;
    /* margin-right: 315px; */
  }
  ul.menu {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .burger-icon {
    width: 45px;
    height: 22px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger-icon span {
    width: 45px;
    height: 2px;
    flex-shrink: 0;
    background-color: #fff;
    transition: all 0.5s;
  }
  .profile {
    margin-right: 40px;
  }
  .burger_show {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 332px;
    height: 510px;
    background: #0C0C0E;
    color: #fff;
    z-index: 1000;
    padding: 20px;
    transform: translateX(100%);
  }
  .menu_mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 23px;
    list-style-type: none;
  }
  .menu_mob a {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
  }
  .menu_mob a:hover {
    color: #a58c18;
    text-decoration: underline;
  }
  .burger_show.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
  .cross-icon {
    cursor: pointer;
    display: none;
    margin-right: 9px;
  }
  .about {
    position: relative;
  }
  .about_text {
    padding: 0 20px;
  }
  .about_wrapper img:nth-child(2),
  .about_wrapper img:nth-child(3) {
    display: none;
  }
  .about_wrapper {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 20px 77px 0;
  }
  .pagination {
    margin: 5px 0 52px;
  }
  .page-btn:nth-child(4),
  .page-btn:nth-child(5) {
    display: flex;
  }
  .arrow2 img,
  .arrow1 img {
    display: block;
    margin: 0px;
  }
  .favorites_text {
    margin-left: 20px;
  }
  .radio_btn label {
    margin-right: 63px;
  }
  .radio_btn label:last-child {
    margin-right: 0px;
  }
  .season_block {
    justify-content: center;
    margin-bottom: 58px;
  }
  .price_text {
    width: 199px;
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  .price_divider {
    width: 100px;
    height: 1px;
    background: #BB945F;
    margin: 0 59px;
  }
  .desserts_price .price_text {
    width: 300px;
    text-align: right;
  }
  .price_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .desserts_price {
    margin-left: auto;
    margin-top: 40px;
  }
  .map {
    margin-top: 100px;
    margin-left: 15px;
  }
  .cards_wrapper {
    display: flex;
    justify-content: center;
  }
  .get_card {
    margin-top: 21px;
    align-items: center;
    text-align: center;
  }
  .get_card p {
    text-align: center;
    width: 600px;
    padding: 10px;
    margin-top: 30px;
  }
  .get_card button {
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 15px;
  }
  .container {
    position: relative;
    width: 768px;
    margin: 0 auto;
  }
  .map {
    width: 100%;
  }
}
input[name=seasonGroup] {
  display: none;
}

.radio_btn label {
  position: relative;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-right: 64px;
  display: inline-block;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-right: 64px;
  cursor: pointer;
}

.radio_btn label:first-child {
  font-weight: 700;
}

.radio_btn label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #000;
  transform: translate(0, -50%);
  cursor: pointer;
}

.radio_btn input[name=seasonGroup]:checked + label::before {
  background: radial-gradient(black 20%, transparent 50%);
  cursor: pointer;
}

.card_form input {
  width: 520px;
  height: 66px;
  background-color: #FFF;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 25px;
  color: #BB945F;
  font-family: "Forum", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.card_form_wrapper button {
  width: 242px;
  height: 44px;
  margin-bottom: 28px;
  border-radius: 2px;
  background-color: #FFF;
  border: 1px solid #0C0C0E;
  cursor: pointer;
  color: #0C0C0E;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: background-color 0.5s ease;
}

.card_form_wrapper button:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}

input::placeholder {
  color: #8E8E8E;
  font-family: "Forum", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.Sign_Up.Log_in button {
  width: 75px;
  height: 30px;
  background-color: #FFF;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.Sign_Up.Log_in button:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}

.buy {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  background: #FFF;
  cursor: pointer;
  position: absolute;
  top: 508px;
  left: 20px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: background-color 0.5s ease;
}

.buy:hover {
  background: #BB945F;
  border: none;
}

.Own {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  position: absolute;
  top: 510px;
  left: 20px;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #FFF;
  color: #BB945F;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  display: none;
}

.OwnVis {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  position: absolute;
  top: 510px;
  left: 20px;
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #FFF;
  color: #BB945F;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

.modal_windows {
  position: relative;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  background: #FFF;
  text-align: center;
  justify-content: start;
}

.modal.register_form {
  display: none;
  height: 382px;
  z-index: 1000;
}

.modal.Login_form {
  display: none;
  height: 262px;
  z-index: 1000;
}

.modal .action {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 20px auto;
}

.modal .close_button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal form {
  width: 200px;
  margin: 0 auto;
  justify-content: start;
  text-align: left;
}

.form-group {
  text-align: left;
  height: 50px;
  margin-bottom: 10px;
}

.form-group label {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
  display: block;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group input[type=password] {
  width: 200px;
  height: 20px;
  margin: 10px auto;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid #BB945F;
}

.form-group input[type=text]:focus,
.form-group input[type=email]:focus,
.form-group input[type=password]:focus {
  outline: none;
  border-color: #000;
}

.register_form .Sign_Up button {
  top: 310px;
  position: absolute;
  left: 25px;
}

.Login_form .Log_in button {
  top: 190px;
  position: absolute;
  left: 25px;
}

.modal .Have_account {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 55px;
}

.Have_account a {
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
}

/*# sourceMappingURL=style.css.map */
