*{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
    background-color: #484646;
    color: #b3acac;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('assets/img/1678801304_bogatyr-club-p-belii-fon-s-uzorami-foni-vkontakte-15.jpg') center center/cover repeat;
    height: 100vh;
    z-index: 100;
    
}



.player {
    
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    width: 100%;
    
    border-radius: 5rem;
    
}

.author_name{
    font-size: 3rem;
    margin-top: 1.5rem;
}

.track_name{
    font-size: 2rem;
    margin-top: 1rem;
}

.author_img{
    display: flex;
    justify-content: center;
}

.progress_bar {
    position: relative;
    width: 30rem;
    height: 0.7rem;
    justify-self: center;
    border: 0.1rem solid #b3adad;
    background-color: #b3acac;
    margin-top: 4rem;
    border-radius: 0.5rem;
    overflow: hidden; 
  }
  
  .fill_bar {
    width: 0;
    height: 100%;
    background-color: #2a2a2a;
    transition: width 0.1s linear; 
    z-index: 101;
  }
  
  .current_time,
.remaining_time {
  font-size: 1.2rem; /* Размер шрифта времени */
  color: #ffffff; /* Цвет шрифта времени */
  margin-top: 0.5rem; /* Отступ сверху для времени */
}

.author_img img{
    
    width: 50%;
    height: 50%;
    
}

.control_buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 25rem;
    
  
}

.control_buttons .btn:hover{
    filter: invert(100%);
    cursor: pointer;
}

#stop_btn{
    display: none;
    
}


footer {
    padding: 1.5rem;
    



}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.year{
    font-size: 2rem;
    color: aliceblue;
}

